<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Star T1</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../static/assets/img/favicon.png" rel="icon">
  <link href="../static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <!-- Vendor CSS Files -->
  <link href="../static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="../static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/remixicon/remixicon.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../static/assets/css/main.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Nova - v1.2.1
  * Template URL: https://bootstrapmade.com/nova-bootstrap-business-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body class="page-index">

  <!-- ======= Header ======= -->
  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="{{url_for('mainpro2')}}" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1 class="d-flex align-items-center">Star T1</h1>
      </a>

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="index.html" class="active">Home</a></li>
          <li><a href="#why-us">About</a></li>
          <li><a href="#services-list">Project</a></li>
        </ul>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-4">
          <h2 data-aos="fade-up">Star Tracker</h2>
          <p class=" text-white">Track the stars on the sky</p>
          <blockquote data-aos="fade-up" data-aos-delay="100">
            <p></p>
          </blockquote>
          <div class="d-flex mt-3" data-aos="fade-up" data-aos-delay="200">
            <a href="#why-us" class="btn-get-started">More Information</a>
            <!-- <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="glightbox btn-watch-video d-flex align-items-center mt-3 disabled"><i class="bi bi-play-circle"></i><span>Coming Soon</span></a> -->
          </div>

        </div>
<!--  -->
      </div>
    </div>
  </section><!-- End Hero Section -->

  <main id="main">

    <!-- ======= Why Choose Us Section ======= -->
    <section id="why-us" class="why-us">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>About Me</h2>

        </div>

        <div class="row g-0" data-aos="fade-up" data-aos-delay="200">

          <div class="col-xl-5 img-bg" style="background-image: url('../static/assets/img/profile1.png')"></div>
          <div class="col-xl-7 slides  position-relative">

                <div class="container">
                  <center>
                  <div class="item mt-5">
                    <h3 class="mb-3">Welcome to my website</h3>
                    <h4 class="mb-3">I am interested in astrophotos and computer programming.</h4>
                    <p class="mx-5">Hello! My name is Edward, a Sophomore at Berkshire school. I like to take astrophotos on mobile devices. In Berkshire, I made a smartphone photography club that focuses on learning how to use smartphones to take amazing pictures. To take better pictures, I started a star tracker-making project. Since the stars flow slowly over time, the star tracker I made will allow our clubmates to take long exposure shots of stellar objects. </p>
                  </div>
                </center>
                <center>
                                    <ul>
                        <li><i class="fa-solid fa-envelope"></i> edwardyounglee0310@gmail.com</li>
                        <li><i class="fa-solid fa-phone"></i> +82-10-9207-0494 & +1 (646) 369-2610 </li>
                        <!-- <li><i class="fa-brands fa-github"></i> dfafdoe</li> -->
                    </ul>
                  </center>
                </div><!-- End slide item -->


          </div>

        </div>

      </div>
    </section><!-- End Why Choose Us Section -->

    <!-- ======= Our Services Section ======= -->
    <section id="services-list" class="services-list">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Features & Tools</h2>

        </div>

        <div class="row gy-5">

          <div class="col-lg-6 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="100">
            <div class="icon flex-shrink-0"> <i class="fa-solid fa-robot" style="color: #f47313";></i> </div>
            <div>
              <h4 class="title"><a href="#" class="stretched-link">Tracking Stars</a></h4>
              <p class="description">This robot spins at approximately the same rate as the Earth’s rotation so that the camera angle stays the same when a camera/phone is taking a long exposure shot of a deep sky object.</p>
            </div>
          </div>
          <!-- End Service Item -->

          <div class="col-lg-6 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="200">
            <div class="icon flex-shrink-0"><i class="bi bi-card-checklist" style="color: #15a04a;"></i></div>
            <div>
              <h4 class="title"><a href="#" class="stretched-link">Detecting Stars</a></h4>
              <p class="description">From the taken picture of robots, the number of stars can be detected by the program using OpenCV.</p>
            </div>
          </div><!-- End Service Item -->
                    <div class="col-lg-6 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="100">
            <div class="icon flex-shrink-0"><i class="fa-solid fa-microchip"></i> </div>
            <div>
              <h4 class="title"><a href="#" class="stretched-link">Hardware</a></h4>
              <p class="description">For the robot, we used Step motor with reduction gear, Cogwheel, Arduino, Tripod, 3d-printed body, and Motor driver.</p>
            </div>
          </div>
          <!-- End Service Item -->

          <div class="col-lg-6 col-md-6 service-item d-flex" data-aos="fade-up" data-aos-delay="200">
            <div class="icon flex-shrink-0"><i class="fa-solid fa-code" style="color: #EE5C86;"></i></i></div>
            <div>
              <h4 class="title"><a href="#" class="stretched-link">Software</a></h4>
              <p class="description">For the robot and this website, we used C++, Python, HTML, CSS, JavaScript, and Flask.</p>
            </div>
          </div><!-- End Service Item -->

        </div>

      </div>
    </section><!-- End Our Services Section -->


        <section id="services-list" class="services-list">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Demo</h2>
          <p> The main parts of Star Tracking Robot</p>
        </div>

        <div class="row gy-5">

          <div class="col-md-6" data-aos="fade-right">
            <center>
            <h3>A. Body</h3>
            <p class="mx-5">The star tracker is made up of a step motor with reduction gear, Cogwheel, Arduino, a tripod, a 3d-printed body, a motor driver, and a laser pointer.</p>
          </center>
          </div>
                    <div class="col-2" data-aos="fade-right">
            
            <h3> </h3>
          </div>
          <div class="col-md-3" data-aos="fade-left">
            <img class="img-fluid sam" src= "../static/assets/img/demo1.jpg">
          </div>

        </div>

                <div class="row gy-5 mt-5">

          <div class="col-md-6" data-aos="fade-right">
            <center>
            <h3>B. Arduino Uno Board</h3>
            <p class="mx-5">The Arduino Uno Board controls the motor driver so that the motor spins the small, metal cogwheel at a constant rate of 1/48°/second. The large and small cogwheels have a ratio of 5:1, making the large cogwheel spin at a rate of 1/240°/second, which is the rate of the earth’s rotation.</p>
          </center>
          </div>

          <div class="col-2" data-aos="fade-right">
            
            <h3> </h3>
          </div>
          <div class="col-md-3" data-aos="fade-left">
            <img class="img-fluid sam" src= "../static/assets/img/demo2.jpg">
          </div>

        </div>
                <div class="row gy-5  mt-5">

          <div class="col-md-6" data-aos="fade-right">
                        <center>
            <h3>C. Motor </h3>
            <p class="mx-5">The motor spins the small, metal cogwheel at a constant rate of 1/48°/second. The large and small cogwheels have a ratio of 5:1, making the large cogwheel spin at a rate of 1/240°/second, which is the rate of the earth’s rotation.</p>
          </center>
          </div>
                  <div class="col-2" data-aos="fade-right">
            
            <h3> </h3>
          </div>
          <div class="col-md-3" data-aos="fade-left">
            <img class="img-fluid sam" src= "../static/assets/img/demo3.jpg">
          </div>

        </div>  

      </div>
    </section>
    <section id="portfolio-details" class="portfolio-details">
        <center>
        <h1>Detect the stars on the sky</h1>
        <p> You can detect the stars from you image of the sky</p>
      </center>
        <div class="container2" data-aos="fade-up">
              <div class="image2 before2" style="background-image:url('../static/assets/img/download.jpeg');"></div>
              <div class="image2 after2" style="background-image:url('../static/assets/img/detected1.jpg');"></div>
              <input type="range" class="slider2" min="1" max="100" value="50" />
              <div class="slider-button2"></div>


        </div>
    </section>
        <section class= mtt-5>
      <center>
        <div class="test">
                      <a href="{{url_for('mainpro2')}}" class="btn-to-pro" data-aos="fade-up">Get Started</a>
                    </div>
      </center>
    </section>
<!--     <section id="features" class="features">


          <div class="details">
        <div class="container" data-aos="fade-up" data-aos-delay="300">
          <div class="row">
            <div class="col-md-6">
              <h4>Start to see the various stars in the sky</h4>

              <a href="mainpro.html" class="btn-get-started">Get Started</a>
            </div>
          </div>

        </div>
      </div>

    </section> -->
    <!-- ======= Features Section ======= -->
<!--  --><!-- End Features Section -->


  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="footer-legal">
      <div class="container">
        <div class="copyright">
          &copy; Copyright <strong><span>Star T1</span></strong>. All Rights Reserved
        </div>
      </div>
    </div>
  </footer><!-- End Footer -->
  <!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="../static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/assets/vendor/aos/aos.js"></script>
  <script src="../static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../static/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="../static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../static/assets/vendor/php-email-form/validate.js"></script>
  <script src="http://code.jquery.com/jquery-latest.js"></script> 
  <script>
    var imageHead = document.getElementById("hero");
    var i = 0;
    var images = [
      
      "../static/assets/img/cover2.jpg",
      "../static/assets/img/cover3.jpg",
      "../static/assets/img/cover1.jpg"
      ]
    setInterval(function() {
          imageHead.style.backgroundImage = "url(" + images[i] + ")";
          i = i + 1;
          if (i == images.length) {
            i =  0;
          }
    }, 3000);
  </script>
  <!-- Template Main JS File -->
  <script src="../static/assets/js/main.js"></script>

</body>

</html>